.media {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 5px;
    margin: 5px 5px;
    background-color: rgb(46, 13, 13);
    border-radius: 10px;
    position: relative;
}

.media:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

@media (max-width: 550px){
    .media{
        width: 45%;
    }
}

.poster{
    border-radius: 10px;
}

.title{
    width: 100%;
    align-items: center;
    font-size: 16px;
    padding: 7px 0;
}

.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    padding-bottom: 3px;

}