@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.header {
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
letter-spacing: 3px;
    background-color: #2c1313;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
  }
  
  .spanapp {
    color: rgb(150, 135, 52);
  }

  @media (max-width: 1000px) {
    .header {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  }