@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
  scroll-behavior: smooth;
}

.app {
  min-height: 80vh;
  background-color: #574141;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
  
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  font-family: 'Square Peg', cursive;
  display: flex;
  justify-content: center;
  font-size: 6vw;
  padding: 3px;
  border-radius: 50px;
  color: white;
}

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
